@using Clases
@model Clases.Publicacion
@if(Model != null){


    <h1>Detalles de la Publicacion </h1>


<div class="container mt-4">
    <div class="row">
        <div class="col-12 col-md-4">
            <div class="card shadow-sm">
                <div class="card-body">
                    <h5 class="card-title">@Model.Nombre</h5>
                    <ul>
                        @foreach (Articulo a in Model._listaArticulos)
                        {
                            <li>@a.Nombre</li>
                        }
                    </ul>
                    <p class="card-text">Precio: $@Model.PrecioPublicacion</p>
                    <p class="card-text">Fecha: @Model.FechaPublicacion.ToString("dd/MM/yyyy")</p>
                    @if (Context.Session.GetString("rolLogeado") == "CLI")
                    {
                        @if (Model.Rol == "VEN")
                        {
                            @Html.ActionLink("Comprar", "Comprar", new { id = @Model.Id })
                            ;
                        }
                        else if (Model.Rol == "SUB")
                        {
                            <form method="post" asp-controller="Oferta" asp-action="Create">
                                <div class="input-group mb-3">
                                    <input type="number" name="Monto" class="form-control" placeholder="Ingrese una oferta" />
                                    <input type="hidden" name="Id"  value="@Model.Id"/ >
                                    <div class="input-group-append">
                                        <input type="submit" name="" value="Hacer Oferta" class="btn btn-primary" />
                                    </div>
                                </div>
                            </form>
                        }
                    }
                    else if (Context.Session.GetString("rolLogeado") == "ADM")
                    {
                        if (Model.Rol == "SUB")
                        {
                            @Html.ActionLink("Cerrar Subasta", "Comprar", new { id = @Model.Id })
                            ;
                        }
                    }                 
                </div>
            </div>
        </div>
    </div>
</div>


 <p>@ViewBag.Msg</p> 

}
