@using Clases

@model IEnumerable<Clases.Publicacion>

@if (Context.Session.GetString("rolLogeado") == "CLI")
{
    <h1>Ventas</h1>
    <table class="table table-dark table-striped">

        <tr>
            <th>Nombre</th>
            <th>Ariculos</th>
            <th>Estado</th>
            <th>Precio</th>
            <th>Comprar</th>


        </tr>

        @foreach (Publicacion p in Model)
        {
            if (p.Rol == "VEN")
            {
                <tr>
                    <td>@p.Nombre</td>
                    <td>
                        @foreach (Articulo a in p._listaArticulos)
                        {
                            <p>@a.Nombre</p>
                        }
                    </td>

                    <td>@p.Estado</td>
                    <td>@p.PrecioPublicacion</td>
                    @if(p.Estado == Estado.Abierta)
                    {
                        <td>
                            @Html.ActionLink("Comprar", "Detalles", new { id = p.Id })
                            
                        </td>
                    }
                    else
                    {
                        <td></td>
                    }



                </tr>
            }

        }
    </table>
}
<h1>Subastas</h1>
<table class="table table-dark table-striped">

    <tr>
        <th>Nombre</th>
        <th>Ariculos</th>
        <th>Estado</th>
        <th>Mejor Oferta</th>
        @if (Context.Session.GetString("rolLogeado") == "ADM")
        {
            <th>Cerrar oferta</th>
        }
        else
        {
            <th>Hacer oferta</th>
        }
        
        
    </tr>

    @foreach (Publicacion p in Model)
    {
        @if (p.Rol == "SUB")
        {
            <tr>
                <td>@p.Nombre</td>
                <td>
                    @foreach (Articulo a in p._listaArticulos)
                    {
                        <p>@a.Nombre</p>
                    }
                </td>

                <td>@p.Estado</td>
                <td>@p.PrecioPublicacion</td>
                @if (Context.Session.GetString("rolLogeado") == "ADM")
                {
                    @if (p.Estado == Estado.Abierta)
                    {
                        <td>@Html.ActionLink("Cerrar Oferta", "Detalles", new { id = p.Id })</td>
                    }else
                    {
                        <td>OFERTA CERRADA</td>
                    }
                    
                    
                }
                else
                {
                    <td>@Html.ActionLink("Ofertar", "Detalles", new { id = p.Id })</td>
                }

                
                

            </tr>
        }
        
    }
</table>
