@using Clases

@model IEnumerable<Clases.Publicacion>

@if (Context.Session.GetString("rolLogeado") == "CLI")
{
    <h1 class="text-center">Ventas</h1>
    <div class="row row-cols-1 row-cols-md-3 g-4">

       @foreach (Publicacion p in Model)
       {
          if (p.Rol == "VEN")
          {
                <div class="col">
                    <div class="card h-100 mb-3" style="max-width: 540px;">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="..." class="img-fluid rounded-start" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                    <h4 class="card-title">@p.Nombre</h4>
                                    <h5 class="card-title">Estado: @p.Estado</h5>

                                    <ul>
                                        @foreach (Articulo a in p._listaArticulos)
                                        {
                                            <li>@a.Nombre</li>
                                        }
                                    </ul>
                                    <h5>@Math.Round(p.PrecioPublicacion, 2)</h5>

                                    @if (p.Estado == Estado.Abierta)
                                    {

                                        <p class="text-end">
                                            @Html.ActionLink("Comprar", "Detalles", new { id = p.Id })

                                        </p>
                                    }
                                    else
                                    {
                                        <p></p>
                                    }
                            </div>
                        </div>
                    </div>
                </div>
                </div>
          }
       }
    </div>
}

<h1 class="text-center">Subastas</h1>
<div class="row row-cols-1 row-cols-md-3 g-4">

    @foreach (Publicacion p in Model)
    {
        if (p.Rol == "SUB")
        {
            <div class="col">
                <div class="card h-100 mb-3" style="max-width: 540px;">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="..." class="img-fluid rounded-start" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h4 class="card-title">@p.Nombre</h4>
                                <h5 class="card-title">Estado: @p.Estado</h5>
                                <h5 class="card-title">Fecha: @p.FechaPublicacion.ToShortDateString()</h5>

                                <ul>
                                    @foreach (Articulo a in p._listaArticulos)
                                    {
                                        <li>@a.Nombre</li>
                                    }
                                </ul>
                                <h5>Mejor oferta: @p.PrecioPublicacion</h5>

                                @if (Context.Session.GetString("rolLogeado") == "ADM")
                                {
                                    @if (p.Estado == Estado.Abierta)
                                    {
                                        <p>@Html.ActionLink("Cerrar subasta", "Detalles", new { id = p.Id })</p>
                                    }
                                    else
                                    {
                                        <p>Fecha cerrada: @p.FechaCompra.ToShortDateString()</p>
                                        <p>Subasta Cerrada</p>
                                    }


                                }
                                else if (p.Estado == Estado.Abierta)
                                {
                                    <p>@Html.ActionLink("Ofertar", "Detalles", new { id = p.Id })</p>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    }
</div>
